# Node
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Build outputs
dist/
build/
.out/
.next/
.nuxt/
.svelte-kit/
.coverage/
coverage/
.cache/
.turbo/
.parcel-cache/
.esbuild/
.rollup.cache/
.vite/

# Environment
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db
Desktop.ini

# IDE/editor
.vscode/
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.iml

# Package manager
.npm/
.pnpm-store/
.yarn/
.yarn-cache/
.yarn-unplugged/
.yarn-build-state.yml
.yarn-install-state.gz

# Misc
*.tgz
*.swp
*.swo
*~